@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: px-2; /* Use Tailwind's px utility for width */
  background-color: bg-gray-200; /* Use Tailwind's background color classes */
}

*::-webkit-scrollbar-thumb {
  background-color: bg-gray-400;
  border-radius: rounded-full; /* Use Tailwind's rounded classes */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: bg-gray-500;
}
